{{>head}}

{{>navbar}}

    <div class="row">
        <div class="col-8">
            <h1> ÁRBOL EN LA NOCHE</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/arbol_negro.jpg" class="img-thumbnail">
        </div>
    </div>

{{>footer}}